$primaryColor: #edc3d1;
$primaryColorLight: #ddcac3;
$primaryColorDark: #84525e;

$secondaryColor: #518a8d;
$secondaryColorLight: #b9d3ce;
$secondaryColorDark: #396163;

$backgroundColor: #fff;
$textPrimary: #f3f4f5;
$textSecondary: #f3f4f5;

$linkPrimary: #7a4c9a;

body {
  background: #eaeaea;

  h1, h2, h3, h4, h5, h6 {
    font-family: serif;
  }
}

a {
  color: $linkPrimary !important;
  &:hover {
    color: lighten($linkPrimary, 10%) !important;
  }
}

header {
  .bg-primary {
    background-color: $primaryColor !important;
  }

  .btn-primary {
    background-color: $secondaryColor;
    border-color: $secondaryColorLight;
    color: $textSecondary;

    &:hover {
      background-color: $secondaryColorLight;
      border-color: lighten($secondaryColorLight, 5%);
      color: invert($textSecondary);
    }
  }

  .navbar-toggler {
    border-color:invert($textPrimary) !important;
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }
  svg {
    margin-bottom: -0.5rem;
  }
}

#eraNav {
  background-color: lighten($primaryColor, 3%);
  font-family: serif;
  color: darken($secondaryColor, 5%);
  a > span {
      font-size: 1.2rem;

  }
  span {
    font-size: 1.5rem;
  }
}

#timelineN, #timelineA, #timelineC {
  .col {
    padding-left: 0;
    padding-right: 0;
  }
}

#visualizationN, #visualizationA, #visualizationC {
  background: $backgroundColor;
}

.vis-item {
  background-color: lighten($primaryColor, 10%);
  border-color: $secondaryColor;
  color: invert($textSecondary);
}

.vis-box {
  background-color: $primaryColor;
  border-color: $secondaryColor;
  color: invert($textSecondary);
}

#timelineNavigation {
  background-color: $primaryColor;
  .btn-secondary {
    background-color: $secondaryColor;
    border-color: $secondaryColorLight;
    color: $textSecondary;
    &:hover {
      background-color: $secondaryColorLight;
      border-color: lighten($secondaryColorLight, 5%);
      color: invert($textSecondary);
    }
  }
  border-top: 1px solid darken($primaryColor, 3%);
  border-bottom: 1px solid darken($primaryColor, 3%);
  box-shadow: 0 0 5px $secondaryColorLight;
}

#searchResultSection, #addNewEventSection, #modifyThisEvent {
  h5 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .btn-secondary {
    background-color: $secondaryColor;
    border-color: $secondaryColorLight;
    color: $textSecondary;
    &:hover {
      background-color: $secondaryColorLight;
      border-color: lighten($secondaryColorLight, 5%);
      color: invert($textSecondary);
    }
  }

  background-color: $backgroundColor;
  margin-top: 1rem;
  padding: 1rem;

  border: 1px solid $primaryColorLight;
  box-shadow: 0 0 8px #ccc;

  .small {
    padding-left:2rem;
    font-weight: 300;
  }
}

// Enter Event

#startDateLabel, #startDateLabelS, #endDateLabel, #endDateLabelS {
  width: 6rem;
}

textarea, .input {
  &:focus {
    //outline: none !important;
    border:1px solid $secondaryColor;
    box-shadow: 0 0 1px $secondaryColorLight;
  }
}

footer {
  p {
    padding-top: 2rem;
  }
}

//canvas {
//  width: 90%;
//  padding: 0  3rem;
//}

svg {
  margin-bottom: -1px; // makes icon same as baseline
}